.popup {
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  position: fixed;
  top: 0px;
  background-color: rgba(0,0,0,0.5);
  
  display: flex;
  transition: opacity 0.5s linear;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  
}