.popup {
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  position: fixed;
  top: 0px;
  background-color: rgba(0,0,0,0.5);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}