.element__like {
  width: 22px;
  height: 19px;
  margin: auto;
  /* margin-top: 5px; */
  margin-bottom: -1px;
  /* margin-right: 5px; */
  background-color: #FFF;
  background-size: 19px 22px;
  border: 0;
  background-image: url('../../../images/buttons/like-unchecked.svg');
}

.element__like:hover {
  opacity: 0.5;
}