.profile__edit-button {
  margin-left: 18px;
  width: 24px;
  height: 24px;
  background-image: url('../../../images/buttons/edit.svg');
  background-size: 10px 10px;
}

@media screen and (max-width: 690px) {
  .profile__edit-button {
    position: absolute;
    left: calc(100% - 25px - 20px);
    margin-left: 8px;
    margin-bottom: 8px;
    width: 18px;
    height: 18px;
    background-image: url('../../../images/buttons/edit.svg');
    background-size: 7.5px 7.5px;
  }
}