.popup__input {
  margin-top: 30px;
  margin-left: 36px;
  margin-right: 36px;
  margin-bottom: 0px;
  height: 14px;
  font-size: 14px;
  line-height: 17px;

}

@media screen and (max-width: 600px) {
  .popup__input {
    margin-left: 22px;
    margin-right: 22px;
  }
}