.popup__container {
  margin: auto;
  min-width: 430px;
  min-height: 330px;
  background-color: #FFF;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 0;
}

@media screen and (max-width: 600px) {
  .popup__container {
    min-width: 282px;
    min-height: 322px;
  }
}