.element__footer {
  min-width: 246px;
  margin-top: 22px;
  margin-bottom: 22px;
  margin-right: 21px;
  margin-left: 21px;
  width: calc( 100% - 36px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}