.input__button {
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-radius: 2px;
  margin: 0;
  cursor: pointer;
  transition: opacity .3s;
  color: #fff;
  background-color: #000;
  font-family: inherit;
  border-radius: 2px;
}

.input__button:hover {
  opacity: 0.8;
}