.profile__title-text {
  margin: 0 0 0 0;
  text-align: left;
  align-self: flex-end;
  max-height: 40px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

@media screen and (max-width: 655px) {
  .profile__title-text {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    align-self: center;
  }
}