.invisible__like {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); 
}

.pseudo__like:hover {
  opacity: 0.5;
}

.pseudo__like {
  display: inline-block; /* элемент span теперь сможет принимать определённую ширину и высоту */
  vertical-align: middle; /* элемент и текст будут правильно выровнены по вертикали. Работает в паре с inline-block */
  width: 22px;
  height: 19px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: -1px;
  margin-right: 5px;
  background-image: url('../../images/buttons/like-unchecked.svg');
  cursor: pointer;
}

.invisible__like:checked + .pseudo__like_type_checkbox {
  background-image: url('../../images/buttons/like-checked.svg');
}
