.profile__image-container {
  position: relative;
  margin-right: 30px;
}

@media screen and (max-width: 690px) {
  .profile__image-container {
    margin: auto;
  }
}

.profile__image-container:hover .profile__image-overlay {
  visibility: visible;
}