.element__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-grow: 1;
  overflow: hidden;
  color: #000;
}