.button {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  
  border: 2px solid #fff;
  border-radius: 2px;
  
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  
  cursor: pointer;
  transition: opacity .3s;
}

.button:hover {
  opacity: 0.6;
}
